.App {
    text-align: center;
}

img.fish {
    position: absolute;
    height: 28px;
    width: 49px;
    left: 0;
    top: 0;
  }
  
  .water {
    background-image: url("./seawithsand.jpg");
    opacity: 0.60;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  .bubble img {
    max-width: 5%;
    max-height: 5%;
    margin-bottom: 0;
    margin-top: 80vh;
    animation: floatUp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
  }

  @keyframes floatUp {
    from {margin-top: 80vh;}
    to {margin-left: 200px; margin-top: 0vh;}
  }
