@import url('https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans|Open+Sans+Condensed:300|Quicksand&display=swap');
.App {
    text-align: center;
}

.full-window {
  width: 100%;
  height: 100%;
}

.fishies {
  z-index: -1;
}


img.fish {
    position: absolute;
    height: 28px;
    width: 49px;
    left: 0;
    top: 0;
  }

  .both-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    /* margin-top: calc(100vh - 400px); */
  }

  .button-container{
    padding: 10px;
    min-width: fit-content;
    z-index: 1;
  }

  .button-container button:hover{
    cursor: pointer;
  }

  .button-container button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Quicksand';
    font-size: 15px;
    color: white;
    min-width: 100px;
    z-index: 1;
  }
  
  .water {
    position: fixed;
    background-image: url("./coral-reef.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-height: 150%;
    z-index: -0.4;
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  .bubble {
    max-width: 5%;
    max-height: 5%;
    margin-bottom: 0;
    margin-top: 80vh;
    animation: floatUp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
  }

  .bubble2 {
    max-width: 2%;
    max-height: 2%;
    margin-bottom: 0;
    margin-top: 80vh;
    animation: floatUp2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @keyframes floatUp {
    from {margin-top: 80vh;}
    to {margin-left: 200px; margin-top: 0vh;}
  }

  @keyframes floatUp2 {
    from {margin-top: 50vh; margin-left:10px;}
    to {margin-left: 250px; margin-top: 10vh;}
  }

  @keyframes releaseUp {
    from {margin-top: 80vh; margin-left: 50vw;}
    to {margin-top: 0vh; margin-left: 50vw;}
  }


  