@import url('https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans|Open+Sans+Condensed:300|Quicksand&display=swap');

.button {
    position: relative;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}