.FishCard {
    box-sizing: border-box;
    background: #F7CDDB;
    border: thick solid #FFFFFF;
    border-radius: 18px;
    z-index: -1;
    position:relative;
    margin: 1%;
}

.FishCard:hover {
    background: #FFFFFF;
}

.square:hover {
    background: #FFFFFF;
}

.square {
    width: 15%;
    min-width: 100px;
}
  
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

