.habitlist-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
}

.left-container {
    flex: 5;
    margin: 0 20vw 0 0;
    z-index: 2;
}

.panel {
    max-height: 40vh;
    padding: 10px 0 0 0;
    
    overflow-y: scroll;

    color: rgb(238, 238, 238);
}

.panel2 {
    flex: 4;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;

    z-index: 2;

    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(238, 238, 238);
}

.balance {
    display: flex;
    align-items: center;
}

.balance img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.newhabitandbutton {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: stretch;
    margin: 10px 0;
}

.newhabitandbutton .text {
    flex: 1;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.newhabitandbutton .button {
    margin: 10px 0 10px 10px;
    width: 50px;
}

.newhabitandbutton .button:hover {
    cursor: pointer;
}

.habittabs {
    display: flex;
    margin: 20px 0;
}

.habittabs button {
    margin: 0 20px 0 0;
}

.habittabs .active {
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.habittabs .inactive {
    border-width: 3px;
    border-color: transparent;
}