.habitlist-container {
    display: flex;
    justify-content: space-around;
    margin-top: 0vh;
    margin-left: 10vw;
    margin-right: 10vw;

    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
}

.left-container {
    flex: 5;
    margin: 0 20vw 0 0;
    z-index: 2;
}

.panel {
    max-height: 50vh;
    padding: 10px 20px;

    background-color: #F6F7FA;

    border-radius: 10px;
    overflow-y: auto;
}

.panel2 {
    flex: 4;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;

    background-color: #F6F7FA;
    z-index: 2;
}

.balance {
    display: flex;
    align-items: center;
}

.balance img {
    width: 20px;
    height: 20px;
}

.newhabitandbutton {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: stretch;
    margin: 10px 0;
}

.newhabitandbutton .text {
    flex: 1;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.newhabitandbutton .button {
    margin: 10px 0 10px 10px;
    font-size: 24px;
    padding: 1px 0 5px 0;
    width: 50px;
}

.newhabitandbutton .button:hover {
    cursor: pointer;
}

.habittabs {
    display: flex;
    margin: 20px 0;
}

.habittabs button {
    margin: 0 20px 0 0;
}
