.habitlist-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
}

.left-container {
    flex: 2;
    margin: 0 10vw 0 0;
}

.panel {
    max-height: 50vh;
    padding: 10px 20px;

    background-color: #F6F7FA;
    
    border-radius: 10px;
    z-index: 1;
    overflow-y: scroll;
}

.panel2 {
    flex: 1;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;

    background-color: #F6F7FA;
    
    z-index: 1;
}

.balance {
    display: flex;
    align-items: center;
}

.balance img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.newhabitandbutton {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: stretch;
    /* padding: 0 10px; */
    /* 
    width: 400px;
     */
    /* background: gray; */
}

.newhabitandbutton .text {
    flex: 1;
    margin: 10px 10px 10px 0;
    padding: 0 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.newhabitandbutton .button {
    margin: 10px 0 10px 10px;
    width: 50px;
}

.newhabitandbutton .button:hover {
    cursor: pointer;
}

.habittabs {
    display: flex;
    padding: 10px 0;
}

.habittabs button {
    margin: 0 10px 0 0;
}