@import url('https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans|Open+Sans+Condensed:300|Quicksand&display=swap');

/* Create a custom checkbox */

.habit-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    z-index: 1;
}

.habit-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    margin: 0 15px;
    border-radius: 100%;
    border: #00CBD9 3px solid;
    background-color: #FFFFFF;
}

/* When the checkbox is checked*/
.habit-container input:checked ~ .checkmark {
    background-color: #00CBD9;
}

.habit-container button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #00CBD9;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    font-family: "Quicksand";
}