.habitlist {
    background-color: #F6F7FA;
    padding: 10px 20px;
    width: 400px;
    border-radius: 10px;
}

.newhabitandbutton {
    display: flex;
}

.newhabitandbutton input {
    position: relative;
    background-color: #FFFFFF;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.newhabitandbutton button {
    position: relative;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}