
@import url('https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans|Open+Sans+Condensed:300|Quicksand&display=swap');
.NavBar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.NavBar-sidebar {
  padding: 10px;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  height: 190px;
  width: 150px;
  border-radius: 0px 0px 10px 0px;
  top: 0;
  border-style: none solid solid none;
  border-width: 2px;
  border-color: white;
  z-index: 1;
}

.NavBar-title-container {
  /* color: rgb(73, 73, 73); */
  width: 225px;
  height: 50px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  font-family: 'Croissant One', cursive;
  /* border-color: black; */
  z-index: 1;
}
.NavBar-title {
  /* color: rgb(73, 73, 73); */
  color: white;
  font-size: 30px;
  margin-top: 5px;
  padding: 10px;
  font-family: 'Croissant One', cursive;
}


.logout-button {
  margin-top: 10px;
  margin-right: 10px;
}
  
.menu-item {
  padding: 10px;
}

.menu-item-current {
  padding: 10px;
}

.menu-item-current ::before {
  content: "⬤";
}

.menu-item ::before {
  content: "🐠 ";
  }


.NavBar-link,
.NavBar-link:visited {
  /* color: rgb(77, 77, 77); */
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  margin-left: 10px;
}


.NavBar-link:hover {
  opacity: 0.8;
}

/* .NavBar-link:active {
  color:blue;
} */

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}