.NavBar-container {
    padding: var(--s) var(--m);
    background-color: rgba(255, 255, 255, 0.5);
    height: fit-content;
    width: 100px;
  }
  
  .NavBar-title {
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: gray;
    opacity: 0.8;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }