.big-window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
/* .window {
    position: 'relative';
    background-color: white;
    height: 50px;
    width: 200px;
    z-index: 2;
} */

.closeButton {
    position: 'absolute';
    padding: 100; 
    background-color:  rgba(255, 255, 255, 0.3);
    align-content: center;
    border-radius: 5px;
    font-family: "Quicksand"
}
