@import url('https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans|Open+Sans+Condensed:300|Quicksand&display=swap');


.App-container {
    max-width: 200%;
    max-height: 200%;
    width: 100vw;
    height: 100vh;
    /* padding: var(--m) var(--m); */
    /* margin: auto; */
  }

  .signature {
    position:fixed;
    margin-top: 30%;
    width: 500px;
    height: 10px;
    /* margin-left: calc(50vw - 250px); */
    color: lightcyan;
    font-family: "Quicksand";
    font-size: 12px;
    left: 3%;
    bottom: 3%;

  }
  